
.text-left{
  text-align: left;
}

.center {
  margin: 0 auto;
}
ul#bigger {
  list-style-type: none;
  font-size: 23px;
  width: 295px;
}

.blur {
  opacity: 0.1;
}

.underline {
  text-decoration: underline;
}

a.promo {
  color: rgb(201, 77, 72) !important;    
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px; /* bottom = footer height */
  padding: 15px;
  padding-top: 80px;            
  color: #344146;    
}

footer {
  background-color: #34495E;    
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow:hidden;
}

.text-center {
  text-align: center;
}

.bg-dark {
  background-color: rgb(201, 77, 72) !important;    
  /* background-color: transparent !important; */
  /* color:black; */
}

/* a.nav-link {
  color:black !important;
}

span.navbar-toggler-icon {
  color:black !important;
  
}
.navbar-dark .navbar-toggler {
  color:black !important;
  border-color:black !important;
} */

.red {
  color: rgb(201, 77, 72);    
}

.green {
  color: #27AE60;
}

highlight {
  background: #E67E22;
  
}

.orange {
  color: #E67E22;
}

.blue {
  color: #2980B9;
}

.fa {
  margin-bottom: 10px;
}

.underline {
  text-decoration: underline;
}

a.promo {
  color: rgb(201, 77, 72) !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  /* bottom = footer height */
  padding: 15px;
  padding-top: 80px;
  color: #344146;
}

footer {
  background-color: #34495E;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.text-center {
  text-align: center;
}


.red {
  color: rgb(201, 77, 72);
}

.green {
  color: #27AE60;
}

highlight {
  background: #E67E22;
}

.orange {
  color: #E67E22;
}

.blue {
  color: #2980B9;
}

ul#bigger {
  list-style-type: none;
  font-size: 23px;
}

.small_square {
  width: 70px;
  height: 70px;  
  background: black;
}

.big_square {
  width: 200px;
  height: 100px;    
  background: red;
}

i.fa:hover {
  color: rgb(201, 77, 72);
}
